<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{cdnLink 'favicon.ico'}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{cdnLink 'apple-touch-icon.png'}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{cdnLink 'favicon-32x32.png'}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{cdnLink 'favicon-16x16.png'}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{cdnLink 'main.min.css'}}" />
        <title>{{title}} | British Youth Band Association</title>
        <style>
            header {
                text-align: center;
                padding: .5rem;
            }

            img {
                margin-bottom: 1rem;
                max-width: 100%;
            }

            section {
                margin-top: 3rem;
            }
        </style>
    </head>

    <body>
        <header>
            <div class="container">
                <h1>BYBA Results Viewer</h1>
            </div>
        </header>
        <main class="container">
            {{{body}}}
        </main>
    </body>

</html>